@media only screen and (max-width:767px){
    header .navbar-brand{
        padding-left: 1rem;
    }
    html{
        scroll-behavior: smooth;
      }
    
    .icon{
        width: 10%;
    }
    header{
        padding-bottom: 80vw;
    }
    #mamang{
        width:30%;
        padding-top: 100vw;
        display: block;
        margin: auto;
        text-align: center;
    }
    #line{
        width:15%;
        top: 150vw;
        left:18vw;
    }
    #insta{
        width:15%;
        top: 150vw;
        left: 43vw;
    }
    #steam{
        width:15%;
        top: 150vw;
        left: 68vw;
    }
    #welcome{
        width: 50%;
        left:25vw;
        top:35vw;

    }
    #bubble{
        width: 50%;
        left: 25vw;
        top:15vw;
    }
    #profil{
        width:50%;
    }
    .section-1 .row .col-md-6 .panel{

        position:initial;
        width:initial;
        height:initial;
    }
    #stay{
        padding-top: 40vw;
        font-size: 4vw;
    }
    #button1{
        position: absolute;
        width:30%;
        right: 35vw;
        top:60vw;
    }
    #arrow1{
        width:8%;
        position: absolute;
        top: 68vw;
        right: 45vw;
    }

}